@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  --dark-bg-1: #333333;
  --dark-bg-2: #222222;
  --dark-bg-hover-item: rgba(255, 255, 255, 0.115);
  --dark-section-bg: linear-gradient(to bottom, #333333, #333333f1);
  --dark-section-box-shadow: 0 0 25px rgba(255, 255, 255, 0.133);
}
html,
body,
#root,
.App {
  width: 100% !important;
  height: 100% !important;
}
body {
  background: linear-gradient(180deg, #f5f5f5, #e0e0e0);
  background-attachment: fixed;
  overflow-x: hidden;
}
.down-arrow svg {
  animation: downArrow infinite ease-in-out 2s;
}
@keyframes downArrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translate(0px);
  }
}
.primary-button {
  background-color: #facf0f;
  padding: 24px 0;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding-left: 5rem /* 80px */;
  padding-right: 5rem /* 80px */;
  border-radius: 0.375rem /* 6px */;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "Source Sans Pro", sans-serif;
  color: #333333;
  display: block;
  text-align: center;
}
.primary-button:hover {
  --tw-translate-y: -0.25rem /* -4px */;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.section-title-primary {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
  color: #111111;
  letter-spacing: 3px;
}
.section-title-secondary {
  font-size: 30px;
  font-weight: 800;
  font-family: "Source Sans Pro", sans-serif;
  color: #111111;
  letter-spacing: 1px;
}

.section-text {
  color: #555;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
}
.special {
  background-color: #facf0f09;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  color: #666;
}
.header {
  transition: all 0.3s;
  z-index: 999;
}
.header-sticky {
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.971);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(71, 77, 9, 0.195) 0px 10px 10px;
}
.header-left-img {
  transition: all 0.5s;
}
.header-left-img-sticky {
  width: 40px;
  height: 40px;
}

.header-left-name {
  transition: all 0.5s;
}
.header-left-name-sticky {
  font-size: 15px;
}
.header-mid {
  transition: all 0.5s;
}
.header-mid-sticky {
  padding: 12px 15px;
}
.header-right-menu-item {
  transition: all 0.5s;
}
.header-right-menu-item-sticky {
  padding: 15px;
}
.projects {
}
.projects-body .project-card {
  transition: all 0.4s;
}
.projects-body .project-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.277);
}
.projects-body .project-card:nth-child(2) {
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.input-text {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.266);
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-family: "Source Sans Pro" !important;
  color: #282727;
}
.input-text::placeholder {
  font-size: 14px;
}
.input-title-text {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(0, 0, 0, 0.712);
}
.input-textarea {
  outline: none;
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.header .xs-area .xs-menu {
  user-select: none;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.458);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.371);
  padding: 15px 50px;
}
.header .xs-area .xs-menu a {
  font-family: "Source Sans Pro" !important;
  transition: all 0.3s;
  padding: 3px 5px;
  border-radius: 5px;
}
.header .xs-area .xs-menu a:hover {
  background-color: rgba(0, 0, 0, 0.073);
}
/* DARK MODE */

.header.dark-mode {
  background-color: var(--dark-bg-2);
}
.header.header-sticky {
  box-shadow: var(--dark-section-box-shadow);
  border-bottom: 1px solid rgba(0, 0, 0, 0.256);
}
.header.dark-mode .header-left:hover {
  background-color: var(--dark-bg-hover-item);
}
.header.dark-mode .header-left .owner-brand-text {
  color: white;
}
.header.dark-mode .typing-section {
  background-color: rgba(255, 255, 255, 0.855);
}
.header.dark-mode .typing-section:hover {
  background-color: white;
}
.header.dark-mode .header-right .menu-item {
  color: white;
}
.header.dark-mode .header-right .menu-item:hover {
  background-color: var(--dark-bg-hover-item);
}
.header.dark-mode .xs-area svg {
  color: white;
}
.header.dark-mode .xs-area .xs-menu .xs-dark-toggle {
  color: black;
}
.social {
  z-index: 999;
}

.social.dark-mode {
  background-color: var(--dark-bg-2);
  box-shadow: var(--dark-section-box-shadow);
}
.social.dark-mode .social-item {
  color: white;
}
.social.dark-mode .social-item:hover {
  background-color: var(--dark-bg-hover-item);
}
.home.dark-mode {
  background: var(--dark-section-bg);
}
.home.dark-mode .title-1,
.home.dark-mode .title-2,
.home.dark-mode .title-3,
.home.dark-mode .page-info,
.home.dark-mode .down-arrow {
  color: white;
}

.title-1.dark-mode,
.title-2.dark-mode,
.title-3.dark-mode,
.page-info.dark-mode,
.down-arrow.dark-mode {
  color: white;
}
.about {
  transition: all 0.6s;
}
.about.dark-mode {
  background: var(--dark-section-bg);
}
.about.dark-mode .about-bottom > div .section-title-secondary,
.about.dark-mode .about-bottom > div .section-text,
.about.dark-mode .about-bottom > div .section-text .special {
  color: white;
}
.about.dark-mode .about-bottom .about-bottom-right .skills .skill:hover {
  color: white;
  background-color: var(--dark-bg-hover-item);
}
.about.dark-mode .about-top .title {
  color: white;
}
.about.dark-mode .about-top .section-text {
  color: white;
}
.about-top.dark-mode .title,
.about-top.dark-mode .section-text {
  color: white;
}
.projects.dark-mode {
  background: var(--dark-section-bg);
}
.projects.dark-mode .projects-head .section-title-primary,
.projects.dark-mode .projects-head .section-text,
.projects.dark-mode .projects-head .section-text .special {
  color: white;
}

.projects.dark-mode .projects-body .project-card .project-card-bottom h3,
.projects.dark-mode .projects-body .project-card .project-card-bottom p {
  color: white;
}

.projects.dark-mode
  .projects-body
  .project-card
  .project-card-bottom
  .project-tags
  span:hover {
  background-color: var(--dark-bg-hover-item);
  color: white;
}
.projects.dark-mode .projects-body .project-card:hover {
  box-shadow: 0 0 30px rgba(247, 219, 78, 0.245);
}
.contact.dark-mode {
  background: var(--dark-section-bg);
}
.contact.dark-mode .contact-top .section-title-primary,
.contact.dark-mode .contact-top .section-text {
  color: white;
}
.contact.dark-mode .contact-bottom form label span {
  color: white;
}
